.post {
  border-bottom: 2px solid #dddddd;
  font-family: "Open Sans";
  padding: 30px 0;
  a {
    color: #111111;
    text-decoration: none;
  }
  h2 {
    font-weight: bold;
  }
}
input {
  font-family: "Open Sans";
  padding: 20px;
  width: 100%;
}
.taginputwrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  span {
    font-weight: bold;
    white-space: nowrap;
    width: 100px;
  }
}
.taginput {
  margin: 20px 0;
  padding: 10px;
}
.tags {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}
.tag {
  align-items: center;
  background-color: #0074d9;
  border-radius: 30px;
  color: #7fdbff;
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin-right: 10px;
  padding: 2px 10px;
}
a.addtag {
  align-items: center;
  background-color: #3d9970;
  border-radius: 30px;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: 3px 10px;
  width: 30px;
}
.removebar {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
a.trash {
  align-items: center;
  background-color: #ff4136;
  border-radius: 30px;
  color: #ffffff;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  padding: 2px 10px;
}
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.headerlink {
  color: #0074d9;
  font-family: "Open Sans";
  text-decoration: none;
}
